@font-face {
  font-family: 'H-bold';
  src: url('./assets/fonts/HelveticaNeue-Bold.ttf');
}

@font-face {
  font-family: 'H-light';
  src: url('./assets/fonts/HelveticaNeue-Light.ttf');
}

@font-face {
  font-family: 'H-roman';
  src: url('./assets/fonts/HelveticaNeue-Roman.ttf');
}

* {
  margin: 0;
  padding: 0px;
}

.container-fluid {
  height: 100% !important;
  background-image: url("./assets/images/map.png");
  background-color: #F0F797;
}

.row {
  height: 25%;
}

.box {
  border: 1px solid #757575;
  text-align: center;
  height: 175px;
  border-right: none;
  border-top: none;
}

.name {
  margin-top: 10%;
  font-size: 50px;
  font-weight: bold;
}

.subtitle {
  letter-spacing: 2px;
  font-size: 13px;
}

.contact {
  margin-top: 3%;
  font-size: 13px;
}

.prompt {
  font-weight: bold;
}
